body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
.fav{
  margin-top: 1em;
  margin-bottom: 1.4em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.searchContainer{
  position: relative;
}
.searchContainer svg{
  position: absolute;
  top: 2.2em;
  right: 2em;
}
.card{
  position: relative;
  padding: 10px;
}
.card button{
  position: absolute;
  bottom: 4.5em;
  border-radius: 50px;
  right: .5em;
}
